@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

:root {
  --color-body: #827397;
  --color-heading: #ffffff;
  --color-base: #1f184f;
  --color-base2: #1f184f;
  --color-brand: #d8b9c3;
  --color-brand2: #d8b9c3;
  --sidbar-width: 240px;
  --font-base: "Bai Jamjuree";
}

body {
  background-color: var(--color-base2);
  color: var(--color-body);
  font-family: var(--font-base), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;
}

a:hover {
  color: white;
}

.text-brand {
  color: rgb(191, 255, 0);
}

.bg-base {
  background-color: #3e3769;
}

img {
  width: 100%;
}

.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.shadow-effect {
  transition: all 0.5s;
}

.shadow-effect:hover {
  box-shadow: -6px 6px 0 0 var(--color-body);
}

.iconbox {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: #d5f505;
  color: #6908f0;
}

/* NAVBAR */
.navbar {
  background-color: var(--color-base);
}
.navbar .nav-link {
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.navbar .nav-link:hover {
  color: var(--color-base);
}

.navbar .nav-link.active {
  color: rgb(225, 255, 0);
}

@media (min-width: 992px) {
  .navbar {
    min-height: 100vh;
    width: var(--sidbar-width);
    background: linear-gradient(rgba(127, 187, 7, 0.3), rgba(127, 187, 7, 0.3)), url(../Images/city.jpg);
    background-size: cover;
    background-position: center;
  }
  .navbar-brand img {
    border: 8px solid rgb(222, 119, 247);
  }
  /* CONTENT */
  #content-wrapper {
    padding-left: var(--sidbar-width);
  }
  /* AKHIR CONTENT */
}

/* BUTTON */
.btn {
  padding: 12px 28px;
  font-weight: 700;
}

.btn-brand {
  background-color: #d5f505;
  border-color: #d5f505;
}

.btn-brand:hover,
.btn-brand:focus {
  background-color: white;
  color: var(--color-base);
  border-color: white;
}

.link-custom {
  font-weight: 700;
  position: relative;
}

.link-custom::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;
}
.link-custom:hover::after {
  width: 100%;
}

/* TEXT */
.text {
  color: #d5f505;
}

.placeholder {
  color: #d5f505;
}

/* CARD */
.card-custom .card-custom-image {
  overflow: hidden;
}

.card-custom .card-custom-image img {
  transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
  transform: scale(1.1);
}
/* CONTACT */
#contact .form-control {
  background-color: var(--color-base);
  border-color: var(--color-body);
  color: #ffffff;
}
#contact .form-control:focus {
  border-color: #ffffff;
  box-shadow: none;
}

#contact input.form-control:focus {
  height: 44px;
}

/* SOCIAL ICONS */

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-body);
  border-radius: 100%;
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* galery foto */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.column video {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
